<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Runtuj</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <!-- style -->
    <link rel="stylesheet" href="~/css/sites.min.css">
    <link rel="stylesheet" href="~/less/main.css">
</head>
<body>
    <!-- main container -->
    <div id="main cointainer">
        <header>
            <nav>
                <div class="container">  <!-- Klasa container będzie służyła do wyśrodkowywania elementów -->
                    <div class="navbar">
                        <div class="nav-logo">
                            <a href=""><img src="~/images/ps-classe-logo.png"></a>
                        </div>
                        <div class="main-menu-content">
                            <ul id="main-menu">
                                <li><a href="" class="active">Start</a></li>
                                <li><a href="">Zapisy</a></li>
                                <li><a href="">Opinie</a></li>
                                <li><a href="">Współpraca</a></li>
                                <li><a href="">Wyniki</a></li>
                                <li><a href="">Kontakt</a></li>
                                 <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Slider -->
        <div class="top-slider">
            <ul class="bxslider" id="main-slider">
                <li>
                    <div class="main-slide-1">
                        <div class="container">
                            <div class="main-slider-content">
                                <h1>W pełni responsywny projekt</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <a href="">Zobacz</a>
                                <img src="~/images/sliderImage1.png" alt="">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="main-slide-1">
                        <div class="container">
                            <div class="main-slider-content">
                                <h1>W pełni responsywny projekt</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <a href="">Zobacz</a>
                                <img src="~/images/sliderImage1.png" alt="">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- About the run -->
        <div class="about alert-dismissable">
            <div class="container">
                <div class="single-col">
                    <img src="~/images/mountain1.png" alt="">
                    <h3>Transa 21km</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="single-col">
                    <img src="~/images/mountain1.png" alt="">
                    <h3>Transa 21km</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="single-col">
                    <img src="~/images/mountain1.png" alt="">
                    <h3>Transa 21km</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="single-col">
                    <img src="~/images/mountain1.png" alt="">
                    <h3>Transa 21km</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>

        <!-- History -->

        <div class="history">

            <!-- tytul -->
            <div class="section-title">
                <div class="container">
                    <h2>Bieg 2017</h2>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                    eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
            </div>

            <!-- slider -->
            <div class="history-slider">
                <div class="container">
                     <div id="history-carousel" class="owl-carousel">
                         <div class="history-item">
                             <img src="~/images/os1.jpg"> 
                             <div class="history-hover">
                                  <div class="history-hover-inner">
                                      <h3>Trasa maratonu</h3>
                                      <p>Lorem Lorem Lorem</p>
                                      <a href="" class="history-link-left"><i class="fa fa-search"></i></a>
                                       <a href="" class="history-link-right"><i class="fas fa-file-image"></i></a>
                                </div>
                             </div>
                         </div>
                          <div class="history-item">
                             <img src="~/images/os2.jpg"> 
                             <div class="history-hover">
                                  <div class="history-hover-inner">
                                      <h3>Trasa maratonu</h3>
                                      <p>Lorem Lorem Lorem</p>
                                      <a href="" class="history-link-left"><i class="fa fa-search"></i></a>
                                       <a href="" class="history-link-right"><i class="fas fa-file-image"></i></a>
                                </div>
                             </div>
                         </div>
                          <div class="history-item">
                             <img src="~/images/os3.jpg"> 
                             <div class="history-hover">
                                  <div class="history-hover-inner">
                                      <h3>Trasa maratonu</h3>
                                      <p>Lorem Lorem Lorem</p>
                                      <a href="" class="history-link-left"><i class="fa fa-search"></i></a>
                                       <a href="" class="history-link-right"><i class="fas fa-file-image"></i></a>
                                </div>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>

        <!-- Content example -->

        <div class="content-section">
            <div class="container">
                <div class="section-title">
                    <h2>Bieg 2017</h2>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                    eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
                <img src="~/images/tatry.jpg" alt="">
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="footer-main">
                <div class="container">
                     <!-- Social -->
                     <div class="single-col">
                         <h3>O nas</h3>
                         <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms</p>
                         <ul class="footer-social">
                             <li><a href=""></a><i class="fab fa-linkedin"></i></li>
                             <li><a href=""></a><i class="fab fa-linkedin"></i></li>
                             <li><a href=""></a><i class="fab fa-linkedin"></i></li>
                             <li><a href=""></a><i class="fab fa-linkedin"></i></li>
                             <li><a href=""></a><i class="fab fa-linkedin"></i></li>
                         </ul>
                     </div>
                     <!-- Blog -->
                     <div class="single-col footer-blog">
                         <h3>Blog</h3>
                         <ul>
                             <li>
                                <a href="">Post 1</a>
                                <span class="post-date">20 stycznia 2018</span>
                             </li>
                              <li>
                                <a href="">Post 2</a>
                                <span class="post-date">20 stycznia 2018</span>
                             </li>
                              <li>
                                <a href="">Post 3</a>
                                <span class="post-date">20 stycznia 2018</span>
                             </li>
                              <li>
                                <a href="">Post 4</a>
                                <span class="post-date">20 stycznia 2018</span>
                             </li>
                         </ul>
                     </div>
                     <!-- Gallery -->
                     <div class="single-col footer-gallery">
                         <h3>Galeria</h3>
                         <ul>
                             <li><a href=""></a><img src="~/images/1.jpg"></li>
                             <li><a href=""></a><img src="~/images/2.jpg"></li>
                             <li><a href=""></a><img src="~/images/3.jpg"></li>
                             <li><a href=""></a><img src="~/images/4.jpg"></li>
                         </ul>
                     </div>
                     <!-- Links -->
                     <div class="single-col more-links">
                         <h3>Przydatne linki</h3>
                         <ul>
                             <li><a href=""></a>Pierwszy link</li>
                             <li><a href=""></a>Drugi link</li>
                             <li><a href=""></a>Trzeci link</li>
                             <li><a href=""></a>Czwarty link</li>
                         </ul>
                     </div>
                </div>
            </div>
            <!-- copyright -->
            <div class="copyright">
                <div class="container">
                    <p>Copyright 2018 </p>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>