/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.center-text {
  text-align: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  float: none;
}
.center-no-flot {
  float: none;
  text-align: center;
}
.no-center-float {
  float: left;
  text-align: initial;
}
.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.invisible {
  display: none;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.absolute-one-hundered-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.list-style-none {
  list-style-type: none;
}
.overflow-fix {
  overflow: auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}
.basic-transition {
  transition: all 0.2s ease-in-out;
}
.dark-overlay {
  content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none repeat 0 0 rgba(30, 30, 30, 0.5);
}
body {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #888;
}
p {
  margin: 0 0 15px;
  line-height: 24px;
}
h2 {
  font-size: 24px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 12px;
  color: #888;
  font-weight: 400;
}
h3 {
  font-size: 18px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 18px;
  color: #888;
  font-weight: 400;
}
body {
  width: 100%;
  *zoom: 1;
}
body:after {
  content: "";
  display: table;
  clear: both;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.about-run .single-col {
  display: inline;
  float: left;
  width: 97.36842105%;
  margin: 0 1.31578947%;
}
@media only screen and (min-width: 992px) {
  .about-run .single-col {
    display: inline;
    float: left;
    width: 22.36842105%;
    margin: 0 1.31578947%;
  }
}
.advantages .single-col {
  display: inline;
  float: left;
  width: 97.36842105%;
  margin: 0 1.31578947%;
}
@media only screen and (min-width: 992px) {
  .advantages .single-col {
    display: inline;
    float: left;
    width: 30.70175439%;
    margin: 0 1.31578947%;
  }
}
.statistics .single-col {
  display: inline;
  float: left;
  width: 97.36842105%;
  margin: 0 1.31578947%;
}
@media only screen and (min-width: 768px) {
  .statistics .single-col {
    display: inline;
    float: left;
    width: 47.36842105%;
    margin: 0 1.31578947%;
  }
}
@media only screen and (min-width: 992px) {
  .statistics .single-col {
    display: inline;
    float: left;
    width: 22.36842105%;
    margin: 0 1.31578947%;
  }
}
.footer-main .single-col {
  display: inline;
  float: left;
  width: 97.36842105%;
  margin: 0 1.31578947%;
}
@media only screen and (min-width: 768px) {
  .footer-main .single-col {
    display: inline;
    float: left;
    width: 47.36842105%;
    margin: 0 1.31578947%;
  }
}
@media only screen and (min-width: 992px) {
  .footer-main .single-col {
    display: inline;
    float: left;
    width: 22.36842105%;
    margin: 0 1.31578947%;
  }
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  clear: both;
  padding: 0 15px;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.section-title {
  margin-bottom: 40px;
  text-align: center;
}
h1,
h2,
h3 {
  line-height: 1.1;
}
/*** Header ***/
header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  border-bottom: 1px solid #DDD;
  box-shadow: 0 0 1px #DDD;
}
header .navbar {
  height: 70px;
}
header .navbar .nav-logo {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
#main-menu {
  display: none;
}
@media only screen and (min-width: 768px) {
  #main-menu {
    display: block;
  }
}
.main-menu-content {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.main-menu-content ul {
  list-style-type: none;
}
.main-menu-content ul li {
  float: left;
  display: block;
}
.main-menu-content ul li a {
  color: #3A3C43;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 20px 14px;
  line-height: 20px;
  transition: all 0.2s ease-in-out;
}
.main-menu-content ul li a:hover {
  color: #45B6AF;
}
@media only screen and (min-width: 992px) {
  .main-menu-content ul li a {
    padding: 20px 22px;
  }
}
.main-menu-content ul li i {
  font-size: 14px;
}
.slicknav_menu {
  position: fixed;
  left: 0;
  right: 0;
}
@media only screen and (min-width: 768px) {
  .slicknav_menu {
    display: none;
  }
}
.slicknav_menu i {
  display: none;
}
.slicknav_menu ul {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDD;
  box-shadow: 0 0 1px #DDD;
}
/*!
 * SlickNav Responsive Mobile Menu v1.0.10
 * (c) 2016 Josh Cope
 * licensed under MIT
 */
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer;
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.25em;
}
.slicknav_menu {
  *zoom: 1;
}
.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left;
}
.slicknav_menu .slicknav_icon {
  float: left;
  width: 1.125em;
  height: 0.875em;
  margin: 0.188em 0 0 0.438em;
}
.slicknav_menu .slicknav_icon:before {
  background: transparent;
  width: 1.125em;
  height: 0.875em;
  display: block;
  content: "";
  position: absolute;
}
.slicknav_menu .slicknav_no-text {
  margin: 0;
}
.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  width: 1.125em;
  height: 0.125em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.slicknav_menu:before {
  content: " ";
  display: table;
}
.slicknav_menu:after {
  content: " ";
  display: table;
  clear: both;
}
.slicknav_nav {
  clear: both;
}
.slicknav_nav ul {
  display: block;
}
.slicknav_nav li {
  display: block;
}
.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em;
}
.slicknav_nav .slicknav_item {
  cursor: pointer;
}
.slicknav_nav .slicknav_item a {
  display: inline;
}
.slicknav_nav .slicknav_row {
  display: block;
}
.slicknav_nav a {
  display: block;
}
.slicknav_nav .slicknav_parent-link a {
  display: inline;
}
.slicknav_brand {
  float: left;
}
.slicknav_menu {
  font-size: 16px;
  box-sizing: border-box;
  background: #FFF;
}
.slicknav_menu * {
  box-sizing: border-box;
}
.slicknav_menu .slicknav_menutxt {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 3px #000;
}
.slicknav_menu .slicknav_icon-bar {
  background-color: #888;
}
.slicknav_btn {
  margin: 8px 15px 8px;
  padding: 9px 10px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px #DDD;
  background-color: #FFF;
}
.slicknav_btn:hover {
  background-color: #DDD;
}
.slicknav_btn:focus {
  background-color: #DDD;
}
.slicknav_nav {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
  list-style: none;
  overflow: hidden;
}
.slicknav_nav ul {
  list-style: none;
  overflow: hidden;
  padding-left: 15px;
  margin: 0 0 0 20px;
}
.slicknav_nav .slicknav_row {
  padding: 5px 10px;
  margin: 2px 5px;
}
.slicknav_nav .slicknav_row:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
  color: #fff;
}
.slicknav_nav a {
  font-size: 13px;
  padding-bottom: 5px;
  text-decoration: none;
  color: #888;
  transition: all 0.2s ease-in-out;
}
.slicknav_nav a:hover {
  color: #45B6AF;
}
.slicknav_nav .slicknav_txtnode {
  margin-left: 15px;
}
.slicknav_nav .slicknav_item a {
  padding: 0;
  margin: 0;
}
.slicknav_nav .slicknav_parent-link a {
  padding: 0;
  margin: 0;
}
.slicknav_brand {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px;
}
